<div>
    <h1>Formulario Login</h1>
        <form id="cookieForm" action="/api/session/login" method="POST">
            <label>Usuario o email</label>
            <input type="text" name="username">
            <br>
            <label>Contraseña</label>
            <input type="password" name="password">
            <br>
            <a href="/api/products">
                <button>Ingresar</button>
            </a>
            <a href="/restaurarpass">
                <button>Recuperar contraseña</button>
            </a>
        </form>
        <a href="/register">
            <button>Registrarme</button>
        </a>
</div>