<div>
    Socket.io
    <hr>

    <input type="text" placeholder="Ingrese su mensaje" id="text">
    <ul id="messages">

    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>