<div>
    <h2>Productos en tiempo real</h2>
    <hr>
    <div>
        <div id="productsCards">

        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>