<div>
    Socket.io
    <hr>
    <div>
        <input type="text" name="chatbox" id="chatbox" placeholder="Ingresa tu mensaje">
    </div>
    <div>
        <ul id="messageLogs">

        </ul>
    </div>
</div>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script> 
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>