<div>
    <h2>Sesión expirada</h2>
    <span>Ingresa tu email y te enviaremos un nuevo correo para restablecer tu clave.</span>
    <form action="/api/session/sendmail" method="POST">
        <input type="text" name="email">
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>