<h1>Register</h1>
<form action="/register" method="POST">
    <input type="text" name="name" placeholder="Ingrese nombre">
    <input type="email" name="email" placeholder="Ingrese correo">
    <input type="password" name="password" placeholder="Ingrese contraseña">
    <button type="submit">Enviar</button>
</form>