<div>
    <h2>Carrito: {{cart._id}}</h2>
    <br>
    {{#each cart.products}}
    <div>
        <h3>Producto: {{this.product.title}}</h3>
        <p>Precio: {{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
    </div>
    <hr>
    {{/each}}
</div>