<div>
    <h1>Formulario Login</h1>
    <form id="cookieForm" action="/api/session/login" method="POST">
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <br>
        <a href="/api/products">
            <button>Ingresar</button>
        </a>
    </form>
        <a href="/api/session/initrestorepass">
            <button>Recuperar contraseña</button>
        </a>
    <a href="/register">
        <button>Registrarme</button>
    </a>
    <a href="/api/session/github">
        <button>
            Entrar con GitHub
        </button>
    </a>
</div>