<div>
    <h1>Formulario Login</h1>
    <form id="cookieForm" onsubmit="return false">
        <label>Username</label>
        <input type="text" name="username">
        <br>
        <label>Email</label>
        <input type="text" name="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Ver Cookie</button>
</div>
<script src="/static/js/cookieSetter.js"></script>