<div>
    <form action="/api/session/restorepass" method="POST">
        <label>Usuario</label>
        <input type="text" name="username">
        <br>
        <label>Contraseña</label>
        <input type="text" name="password">
        <br>
        <button type="submit">Cambiar</button>
    </form>
</div>